body, html {
	width : 100%;
	height : 100%;
	margin: 0;
	padding: 0;
}

body{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
}

.play{background: url('../img/play.png') ;}
.pause{background: url('../img/pause.png') ;}


#player{
	width: 480px;
	height: 60px;
	background: rgba(77, 133, 222, 0.62);
	margin : auto;
	border-radius: 15px;
	transform : translateY(91vh);
}

/* Play/Pause Button */
#pButton{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
}

#timeline{
	width: 382px;
	height: 20px;
	background: rgba(0,0,0,.3);
	margin-top: 20px;
	float: left;
	border-radius: 15px;
}
/*Grabable Playhead*/
#playhead{
	cursor: pointer;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: black;
}
