html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Ropa Sans', sans-serif;
}

.fa {
	color: #fff;
	padding: 0 15px;
	text-shadow: -.5px -.5px 0 #000,
	.5px -.5px 0 #000,
	-.5px .5px 0 #000,
	.5px .5px 0 #000;
	transition: all 0.2s;
}

.fa:hover {
	transform: scale(1.2);
	transition: all 0.2s;
	color: #bbb;
}

.fa:active {
	color: #000;
}

body{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	flex-wrap: wrap;
}

img {
	transition: all 0.2s;
	margin: 5px;
	height: 60px;
	transform: scale(0.8);
	background: 2px solid rgba(0, 0, 0, 0.3);
}

.infoImg {
	transition: all 0s;
}

/*CSS for track-name display*/
#track-name{
	width: auto;
	height: auto;
	background: aliceblue;
	border-radius: 15px;
	text-align: center;
	opacity: 0.75;
	font-size: 2em;
	align-self: flex-end;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 56%;
}

.track-name {
	text-align: center;
	opacity: 0;
}

.display-track {
	display: flex;
	width: 100vw;
	justify-content: center;
}

/*CSS for top-bar and its elements follows*/
#top-left {
	background-color: ghostwhite;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

th {
	text-align: center;
}

.table th, .table td {
    border-top: none !important;
    border-left: none !important;
}

.table-hover{
	animation: fadeIn;
	animation-duration: 1s;
	text-align: center;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.top-bar {
	display: flex;
	align-self: flex-start;
	width: 100vw;
	justify-content: flex-end;
	padding: 10px 0px;
	margin-top: 20px;
	position: absolute;
}

#popover-body, #popover-title {
	display: none;
}

.popover-body, .popover-title {
	font-family: cairo;
	font-size: 20px;
}

.popover-body {
	display: flex;
	flex-direction: column;
}

.popover-body > * {
	flex: 1;
}

.opening, .ending, .ost, .fav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*CSS for bottom-bar and its elements*/
.bottom-bar {
	display: flex;
	justify-content: space-between;
	width: 100vw;
    position: fixed;
    bottom: 0px;
    align-items: center;
	margin-bottom: 10px
}

#player{
	width: 100%;
	border-radius: 15px;
  	opacity: 0.5;
  	transition: all 0.5s;
  	transform: translateY(100%) translateY(-15px);
}

#playTime {
	font-size: medium;
	font-weight: bold;
	background-color: rgba(0,0,0,0.55);
	color: #EEE;
	text-align: center;
  margin: 0 auto -20px;
  opacity: 0;
  width: 150px;
}

#wrapper{
	display: flex;
	justify-content: center;
	transform: translateY(-60px);
	top: 27px;
	position: absolute;
	width: 100%;
}

#player:hover {
  opacity: 1;
  transform: translateY(18px) ;
}

#player:hover #playTime {
	opacity: 1;
}

/* Play/Pause Button */
#pButton{
	border: none;
	float:left;
	margin: auto;
	background: transparent;
	width: 100%;
	height: 100%;
}

#pButton i {
	display: none;
}

#pButton .loader {
	margin: 0 auto;
}

#timeline{
	width: 100%;
	height: 10px;
	background: rgba(0,0,0,.3);
	margin-top: 15px;
	float: left;
	display: flex;
}

/*Grabable Playhead*/
#playhead{
	cursor: pointer;
	width: 2px;
	height: 15px;
	margin-top: -15px;
	background: red;
	transition: all 0.5s;
}

#playedBar{
	cursor: pointer;
	height: 14px;
	margin-top: -4px;
	background: red;
	transition: all 0.5s;
}

#buffered-bar {
	height: 10px;
	flex-basis: 0%;
	background-color: rgba(255, 255, 255, 0.4);
	transition: all .3s;
}


.botton-right, .bottom-left {
	display: flex;
}

/* Track list css */
#modal-wrapper {
	width: 100%;
	height: 100%;
	display: none;
}
.track-list {
	width: 200px;
	height: 100%;
	background-color: rgba(0,0,0,0.55);
	color: #EEE;
	z-index: 1;
	position: absolute;
	overflow: auto;
	transform: translateX(-200px);
	transition: transform .5s ease;
}

.sticky-bar {
	top: 0px;
	position: sticky;
}

.track-list::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}

.track-list::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.3);
}

.track-list::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 60px;
}

.track-list ul {
	padding: 0;
}

.track-list ul li {
	cursor: pointer;
	list-style-type: none;
	padding: 10px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	transition: background-color .5s;
}

.track-list ul li:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.track-list-img {
	margin-right: auto;
}

.open-track-list {
	transform: translateX(0);
}

.close-track-list {
	display: flex;
	justify-content: flex-end;
}

.close-track-list button {
	background: transparent;
	font-size: 20px;
	font-weight: bold;
	border: none;
}

/* Checkbox css */
.toggle-btn {
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==") no-repeat 50px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor: pointer;
}
.toggle-btn.active {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC") no-repeat 10px center #2ecc71;
}
.toggle-btn.active .round-btn {
  left: 45px;
}
.toggle-btn .round-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}
.toggle-btn .cb-value {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
/* Checkbox CSS end */

/* Tooltip CSS */
.tooltip .tooltip-inner {
	background-color: #fff;
	color: #555;
	padding: 5px;
	font-size: 18px;
}

.tooltip .tooltip-arrow {
	display: none;
}
/* Tooltip CSS end */

/* Search box css */
.song-search {
	width: 100%;
	padding: 3px;
	color: #555;
}
