html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}


body{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	flex-wrap: wrap;
}

img {
	transition: all 0.2s;
	margin: 5px;
	height: 60px;
	transform: scale(0.8);
	background: 2px solid rgba(0, 0, 0, 0.3);
}

img:hover {
	transform: scale(1);
	cursor: pointer;
}

.play{background: url('../img/play.png') ;}
.pause{background: url('../img/pause.png') ;}


/*CSS for track-name display*/
#track-name{
	width: auto;
	height: auto;
	background: aliceblue;
	border-radius: 15px;
  	text-align: center;
	opacity: 0.75;
	font-size: 2em;
	align-self: flex-end;
	padding: 2px 10px;
	display: flex;
	align-items: center;
}

.display-track {
	display: flex;
	width: 100vw;
	justify-content: center;
}

/*CSS for top-bar and its elements follows*/
#top-left {
	background-color: aliceblue;
	display: none;
}

.top-bar {
	display: flex;
	align-self: flex-start;
	width: 100vw;
	justify-content: flex-end;
}

#popover-body, #popover-title {
	display: none;
}

.popover-body, .popover-title {
	font-family: cairo;
	font-size: 20px;
}

.popover-body {
	display: flex;
	flex-direction: column;
}

.popover-body > * {
	flex: 1;
}

.opening, .ending, .ost {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*CSS for bottom-bar and its elements*/
.bottom-bar {
	display: flex;
	justify-content: space-between;
	width: 100vw;
}

#player{
	width: 480px;
	height: 60px;
	background: rgba(77, 133, 222, 0.62);
	border-radius: 15px;
  	opacity: 0.5;
  	transition: all 0.5s;
  	transform: translateY(100%) translateY(-10px);
}

#wrapper{
  display: flex;
  justify-content: center;
  height: 75px;
  overflow: hidden;
  transform: translateY(10px);
}

#player:hover {
  opacity: 1;
  transform: translateY(10px) ;
}

/* Play/Pause Button */
#pButton{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
}

#timeline{
	width: 382px;
	height: 20px;
	background: rgba(0,0,0,.3);
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	display: flex;
}

/*Grabable Playhead*/
#playhead{
	cursor: pointer;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: black;
}

#buffered-bar {
	height: 20px;
	flex-basis: 0%;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	transition: all .3s;
}


.botton-right, .bottom-left {
	display: flex;
}


/* Checkbox css */
.toggle-btn {
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==") no-repeat 50px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor: pointer;
}
.toggle-btn.active {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC") no-repeat 10px center #2ecc71;
}
.toggle-btn.active .round-btn {
  left: 45px;
}
.toggle-btn .round-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}
.toggle-btn .cb-value {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
/* Checkbox CSS end */