

.play{background: url('img/play.png') ;}
.pause{background: url('img/pause.png') ;}


#player{
	width: 480px;
	height: 60px;
	margin: auto;
	margin-top: 45%;
	background: rgba(77, 133, 222, 0.62);
	border-radius: 15px;
	
}

/* Play/Pause Button */
#pButton{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
}

#timeline{
	width: 382px;
	height: 20px;
	background: rgba(0,0,0,.3);
	margin-top: 20px;
	float: left;
	border-radius: 15px;
}
/*Grabable Playhead*/
#playhead{
	cursor: pointer;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: black;
}
